.heart-icon:hover {
    color: green; 
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
 
  .heart-icon:active {
    color: green;
  }
  .carditem{
    transition: all .3s .1s ease-in;
  }
  .carditem:hover{
    transform: scale(1.06);
    box-shadow: 2px 2px 31px -6px rgba(0,0,0,0.72);;


  }